---
import "../styles/global.css";
import SearchComponent from '../components/SearchComponent.astro';
import SearchLine from "../components/SearchLine.astro";



// const files = import.meta.glob('/public/M1Database/index/*.xlsx'); // Fetch all .xlsx files
// const filteredFiles = Object.keys(files).filter(file => file.match(/\/S.*\.xlsx$/));
// console.log(filteredFiles); // Logs only files starting with "T"



// const excelFiles = import.meta.glob("/public/M1Database/index/Index_*.xlsx", {
//   eager: true,
// });

// const workbooks = [];
// const allRowsData: any = [];

// for (const filePath in excelFiles) {
//   try {
//     const absoluteFilePath = path.resolve(process.cwd(), filePath.slice(1)); // Remove the leading '/'
//     const workbook = new ExcelJS.Workbook();
//     await workbook.xlsx.readFile(absoluteFilePath);
//     workbooks.push({ name: filePath, workbook: workbook });
//     console.log(`Successfully read: ${filePath}`);

//     workbook.worksheets[0].eachRow(function (row, rowNumber) {
//       //   allRowsData.push(JSON.stringify(row.values));
//       //   console.log("Row " + rowNumber + " = " + JSON.stringify(row.values));
//       const lastName = row.getCell(1).value;
//       const firstName = row.getCell(2).value;
//       allRowsData.push({ lastName, firstName });
//       //   console.log("Row " + rowNumber + " = " + JSON.stringify(row.getCell(1).value));
//     });
//   } catch (error) {
//     console.error(`Error reading ${filePath}:`, error);
//   }
// }

// console.log(allRowsData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hardly Normal</title>
  </head>
  <body class="mx-8 my-4">
    <img src="/public/hardly normal no bg.png" alt="Hardly Normal Logo" class="w-70 -mx-4 -mt-8">
    <h1 class="-mt-16 my-12 text-neutral-500">M1 Database Search Engine</h1>
    <SearchLine></SearchLine>
  </body>
</html>
