---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h1>Logo here</h1>
    <form action="/search" method="get">
      <input type="text" id="allSearch" name="allSearch" placeholder="anything" />
      <button type="submit">Search</button>
    </form>
  </body>
</html>

